import csv
with open("company.csv", "r") as file:  #name of file
    csvReader = csv.reader(file)
    next(csvReader, None)
    dataAsTuples = [tuple(row) for row in csvReader]

file.close()
print(dataAsTuples)
